# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Default rules
[*]
# Use Unix line endings
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
# A line should not have more than this amount
# of chars (not supported by all plugins)
max_line_length = 80

[*.mc]
indent_style = space
indent_size = 2

# Makefiles require tabs
[{Makefile,**.mk}]
indent_style = tab
